/* stylelint-disable indentation */
/* josefin-sans-regular - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v24-latin-regular.woff2") format(woff2),
    url("../fonts/josefin-sans-v24-latin-regular.woff") format(woff);
  font-display: swap;
}

/* cormorant-infant-regular - latin_cyrillic */
@font-face {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cormorant-infant-v16-latin_cyrillic-regular.woff2")
      format(woff2),
    url("../fonts/cormorant-infant-v16-latin_cyrillic-regular.woff")
      format(woff);
  font-display: swap;
}
